/* ####### color pallet:
#2D5355; /*blu-green dark
#343C49;/*ashy blue dark
#A2616B; /*ashy pink
#C0AAB0; /*very light purple
#369E55; /*light green
#6F8F88; /*light ashy blue
#766875;/*dark lighter purple ashy(for footer)*/

html{
	margin: 0;
	padding: 0;
	border:0;
}

body{
	background-color: #2D5355; /*blu-green dark*/
	/*background-image: url("img/background10.jpg");*/

	margin: 0;
	padding:0;
	border:0;
	color: #343C49;/*ashy blue dark*/
}



/*this is there to give everything a centered look*/
.all-content{ 
	flex-grow: 1;
	margin-left: 4%;
	margin-right: 4%;
	box-shadow: 1px 1px 50px black;
}

p{
	padding: 0px;
	margin: 0px;
}

a{
	font-size: 1.5em;
	text-decoration: none;
}

/*
#################################################
Header Stuff
#################################################
*/
header {
	/*background: yellow;*/
	background-image: url("img/header12.jpg");
	height:450px;
	/*padding-top:50px;*/
	/*display: flex;
	justify-content: space-around;
	overflow: hidden;*/
}

h1{
	color: #C0AAB0; /*very light purple*/
	text-align: center;
	text-shadow: 3px 3px 6px #3e3d3d;
	font-size: 3.5em;
	bottom: 0;
	position: absolute;
	width: 100%;
}

.header-content{
	position: relative;
	height: 100%;
	/*display: flex;
	justify-content: space-around;*/
}

/*
#################################################
Hamburger-Resposive menu Icon
#################################################
*/

.hamburger{
	background: none;
	position: absolute;
	top:0;
	right: 0;
	color: white;
	border: 0;
	font-size: 1.6em;
	font-weight: bold;
	cursor: pointer;
	z-index: 800;
	text-shadow: 3px 3px 6px #3e3d3d;
	border-radius: 8px;
	position: fixed;
	top:0;
}
.cross{
	background: none;
	position: absolute;
	top:0;
	right: 0;
	color: white;
	border: 0;
	font-size: 1.6em;
	font-weight: bold;
	cursor: pointer;
	z-index: 800;
	text-shadow: 3px 3px 6px #3e3d3d;
	border-radius: 70px;
	position: fixed;
	top:0;
}

.hamburger:hover{
	background-color: #C0AAB0; /*light purple*/
}

.cross:hover{
	background-color: #C0AAB0; /*light purple*/
}


/*
#################################################
Navigation Bar
#################################################
*/
.main-nav{
	background-color: #A2616B; /*ashy pink*/
	overflow: hidden;
	position:relative;
	border: none;
	width: 100%;
	z-index: 150;
	box-shadow: 0 2px 3px rgba(0,0,0, .4);
	margin-bottom: -25px;/* since nav hight is 80px */
}

ul{
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	border: 10px;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;/*So they dont try to fit all together*/		
}

li {
	text-decoration: none;
	float: left;
	min-width: 10%;
	max-width: 50%;
	margin: 0px;
	text-align: center;
	flex-grow: 1;/*make it occupy all space*/
}

.nav-a {
	display: block; /*make li clickable too*/
	color: #343C49;/*ashy blue dark*/
}

.nav-a:hover{
	text-decoration: none;
	background-color: #C0AAB0; /*light purple*/
	color: white;
	text-shadow: 3px 3px 6px #3e3d3d;
	box-shadow: 1px 1px 10px #3e3d3d;
	
}
			
.main-nav-scrolled {
	position: fixed;
	top:0;
	width: 92%;
}

/* 
#################################################
Content of the page(the bottom)
#################################################
*/
.content{
	font-size: 20px;
	background: #6F8F88; /*light ashy blue*/
	padding-top: 80px; /* compensate for the top when scrolling*/
	/*width: 100%;*/
	position: relative;
}

.my-image{
	width: 250px;
	height: 250px;

}
.my-name-and-image{
	padding: 0px;
	margin: 0px;
	text-align: center;
	color: white;
}

h2{
	padding:0px;
	margin: 0px;
	border-bottom: 3px solid white;
}



/*
#################################################
Information Timeline Container and what not
#################################################
*/

h3{
	color: white;
	margin: 0px;
	padding-bottom: 25px;
	/*text-shadow: 3px 3px 6px #3e3d3d;*/
}

/*help for timeline Niels Voogt code found at: http://codepen.io/NielsVoogt/pen/MbMMxv/ */
.timeline-container{
	max-width: 1024px;
	width: 90%;
	margin:0 auto;
	background: #6F8F88; /*light ashy blue*/

	
}



.timeline-item p{
	color: #343C49; /*ashy blue dark*/ 

}


.timeline-item{
	padding: .1em 2em 2em;
	position: relative;
	border-left: 2px solid  white;/*this is the line itself*/
}

.timeline-item:before {
		position: absolute;
		left: 2em;
		font-weight: bold;
		top:1em;
		display: block;
}

.timeline-item:after{ /*this is the circle*/
		width:12px;
		height: 12px;
		display: block;
		top: 1em;
		position: absolute;
		left: -9px; /*where the circle is located*/
		border-radius: 10px;
		content: '';
		border: 2px solid #C0AAB0; /*very light purple , border of circle*/
		background: white; /*color of circle*/
		

}

.timeline-item:last-child{
	border-image: linear-gradient(
			to bottom,
			white 60%,
			#6F8F88) 1 100%;
}

.timeline-item:hover::after{
	background: #A2616B; /*ashy pink*/
}



/* credits to: Don Quist for help on the bubble code found at:https://blog.sigmaprojects.org/talk-bubbles-in-css/*/
.talkbubble {
    margin: .1em 0 .1em;
    padding: 15px;
    min-height:20px;
    background: #C0AAB0; /*very light purple*/
    background: linear-gradient(to right, #C0AAB0 , #6F8F88); 
    position: relative;
    /*border: 1px solid #333333;*/
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
   /* box-shadow: 2px 2px 3px #888;*/
    border-right: 0px;
}

.talkbubble:hover{
	background: #C0AAB0; /*very light purple*/
}

 /*left talk bubble*/
/*
.talkbubble:before {
    content:"";
    position:absolute;
    right: 100%;
    top: 10px;
    width: 0px;
    height: 0px;
    /*border-top: 14px inset transparent;
    border-right: 20px dashed #333333;
    border-bottom: 14px inset transparent;
}*/
.talkbubble:after {
    content:"";
    position:absolute;
    right: 100%;
    top: 11px;
    width: 0px;
    height: 0px;
    border-top: 13px inset transparent;
    border-right: 19px dashed #C0AAB0; /*very light purple*/
    border-bottom: 13px inset transparent;
}
/*right talk bubble*/



/*
#################################################
Footer
#################################################
*/

footer{
	text-align: center;
	background-color: #766875;/*dark lighter purple ashy*/
}

.icon-a {
	color: #343C49;/*ashy blue dark*/
}

.icon-a:hover{
	color: white;
	text-shadow: 3px 3px 6px #3e3d3d;
	font-size: 1.6em;
	color: #C0AAB0; /*light purple*/
}


/*
#################################################
Resposive CSS to sizeing
#################################################
*/


@media screen and (max-width: 600px){
	h1{
		/*padding-top: 50%;*/
		font-size: 3.3em;
	}
}

@media screen and (max-width: 500px){
	.all-content{
		margin-left: 1%;
		margin-right: 1%;
	}

	

	.main-nav-scrolled {
		position: fixed;
		top:0;
		width: 98%;	
	}
	h1{
		font-size: 3.1em;
	}
}


@media screen and (max-width: 430px){
	h1{
		font-size: 2.8em;
		display: inline-block;
	}
	
	ul{

	}

	li {
		/*display: block;*/
		max-width: 100%;
		width: 100%;
	}






}